.toolbar {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  background: var(--toobar-bg);
  border-radius: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
  box-shadow: var(--shadow);
  gap: 1rem;
  padding: 1rem 0rem;
  cursor: initial;
}

.toolbar-label {
  min-width: 6rem;
}

.toolbar-slidecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.toolbar-create-btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
